<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h2>用户列表</h2>
  <div>
     <!-- <p th:text="${user.id}"></p>
     <p th:text="${user.userName}"></p>
     <p th:text="${user.password}"></p> -->
     
     
     
     <form th:action="@{/user/saveUser}" th:object="${user}" method="post">
     
     
     <input hidden name="id" th:value="*{id}" />
     
    用户名： <input type="text" th:field="*{userName}"  />
     
     密码：<input type="password" th:value="*{password}" name="password" />
     
     
     <input type="submit" value="保存">
     
     </form>
   </div>
</body>
</html>